stages:
  - build
  - test
  - report

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  JAVA_HOME: "/usr/lib/jvm/java-17-openjdk"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .gradle/wrapper
    - .gradle/caches

before_script:
  - export PATH="$JAVA_HOME/bin:$PATH"
  - java -version
  - ./gradlew --version

build:
  stage: build
  script:
    - ./gradlew clean assemble
  artifacts:
    paths:
      - build/libs
    expire_in: 1 week

tests:
  stage: test
  script:
    - ./gradlew clean test
  artifacts:
    when: always
    paths:
      - build/test-results/test
      - build/allure-results
    reports:
      junit: build/test-results/test/TEST-*.xml

allure_report:
  stage: report
  image: frankescobar/allure-docker-service:latest
  script:
    - allure generate build/allure-results --clean -o build/allure-report
  artifacts:
    paths:
      - build/allure-report
    expire_in: 1 week
